{% extend 'base.html' %}
{% load humanize %}

{% block extra_head %}
    Home
{% endblock %}


{% block content %}
    <div>
        {% if cars %}
            {% for car in cars %}
                <p>{{ car.title }}</p>
                <p>{{ car.price|intcomma:false }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {% if brands %}
        {% for brand in brands %}
            <p>{{ brand.title }}</p>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}