{% load static humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarVilla</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png" />
    <link rel="stylesheet" href="assets/css/linearicons.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
</head>

<body class="mx-auto">
    <section class="secHead ">
        <div class="nav">
            <div class="container">
                <nav class="d-flex align-items-center justify-content-between">
                    <div class="br"><a href="#">CARVILLA</a></div>
                    <div class="navul">
                        <ul class="d-flex navUl">
                            <li class="p-3 active"><a href="#">HOME</a></li>
                            <li class="p-3"><a href="#">SERVICES</a></li>
                            <li class="p-3"><a href="#">FEATURED CARS</a></li>
                            <li class="p-3"><a href="#">NEW CARS</a></li>
                            <li class="p-3"><a href="#">BRANDS</a></li>
                            <li class="p-3"><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="contentHeader position-relative">
            <div class="container">
                <div class="innerHeader ">
                    <h1 class="text-white mt-3">GET YOUR DESIRED CAR IN RESONABLE PRICE</h1>
                    <h4 class="text-white w-75 mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
                    <button class="mt-5 btnHead">Contact Us</button>
                </div>
            </div>
        </div>
    </section>

    <section class="between">
        <div class="container">
            <div class="row betweenDiv">
                <div class="col-3">
                    <form action="search.php">
                        <div class="anItemF">
                            <label for="">Select Year</label>
                            <select>
                                <option value="1">Year</option>
                                <option value="1">2018</option>
                                <option value="2">2017</option>
                                <option value="3">2016</option>
                            </select>
                        </div>
                        <div class="anItemF"> 
                            <label for="">Body Style</label>
                            <select >
                                <option value="1">Style</option>
                                <option value="1">Sedan</option>
                                <option value="2">Van</option>
                                <option value="3">Roadster</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <form action="search.php">
                        <div class="anItemF">
                            <label for="">Select Make</label>
                            <select>
                                <option value="1">Make</option>
                                <option value="1">Tyota</option>
                                <option value="2">Holden</option>
                                <option value="3">Benz</option>
                            </select>
                        </div>
                        <div class="anItemF"> 
                            <label for="">Car Condition</label>
                            <select>
                                <option value="1">Condition</option>
                                <option value="1">Something1</option>
                                <option value="2">Something2</option>
                                <option value="3">Something3</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <form action="search.php">
                        <div class="anItemF">
                            <label for="">Select Model</label>
                            <select>
                                <option value="1">Model</option>
                                <option value="1">KIa</option>
                                <option value="2">Ford</option>
                                <option value="3">Mitsubishi</option>
                            </select>
                        </div>
                        <div class="anItemF"> 
                            <label for="">Select Price</label>
                            <select>
                                <option value="1">Price</option>
                                <option value="1">0.01$</option>
                                <option value="2">0.02$</option>
                                <option value="3">0.03$</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <form action="search.php" class="anItemF">
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>